<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resumeStyle.css">
    <title>Project</title>
</head>
<body>
    <section id="projects">
        <h2>Projects</h2>
        <div class="project">
            <h3>Score-Keeper</h3>
            <p>
                <a href="https://ankitx55.github.io/ScoreKeeper" , id="link1">Try it here</a> | 
                <a href="https://github.com/ankitx55/ScoreKeeper">See Code</a><br>
                Created a website that keeps score for 2 players set to a maximum winning point and terminates when the maximum point is achieved.<br>
                <strong>Technologies:</strong> NodeJS, MySQL, ExpressJS, Mongoose, Git, GitHub.
            </p>
        </div>

        <div class="project">
            <h3>To-Do-List</h3>
            <p>
                <a href="https://ankitx55.github.io/To-do-list" , id="link1">Try it here</a> | 
                <a href="https://github.com/ankitx55/To-do-list">See Code</a><br>
                Built a To-do list application that has all 4 basic CRUD functionality (Create, Read, Update, and Delete) using JavaScript without using a database.<br>
                <strong>Technologies:</strong> MySQL, ExpressJS, NodeJS, Mongoose, Git, GitHub.
            </p>
        </div>

        <div class="project">
            <h3>Free-Jokes-Website</h3>
            <p>
                <a href="https://ankitx55.github.io/Free-Jokes_website", id="link1">Try it here</a> | 
                <a href="https://github.com/ankitx55/Free-Jokes_website">See Code</a><br>
                Developed and integrated a custom-built joke-fetching algorithm into the website's backend, enhancing user experience by delivering a personalized touchpoint on every interaction, resulting in a 30% increase in user retention.<br>
                <strong>Technologies:</strong> ExpressJS, NodeJS, API, Git, GitHub.
            </p>
        </div>
    </section>
    
</body>
</html>